.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared styles */
.bg {
    max-width: 1120px;
}

.text-primary {
    color: #e96565;
}

.secondary-bg {
    background-color: #FFF8F3;
    /* opacity: 100%; */
    margin: 0px 120px 120px 120px;
    border-radius: 16px;
    height: 400px;

}

/* banner styles */

.header {
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 50px 140px 0px 140px;
    height: 400px;
    width: 1320;
}

.banner-title {
    font-size: 32px;
    text-align: center;
    margin: 60px 244px 0px 244px;
    color: white;
    justify-content: center;
}

.banner-sub-title {
    font-size: 52px;
    text-align: center;
    margin-top: 10px;
    /* width: 600px; */
    color: white;
    margin: 10px 244px 0px 244px;
}

/* block 65 styles */
.sixty-five {
    max-width: 800px;
    max-height: 600px;
    margin: 60px 290px 0px 290px;
    text-align: center;
}

.off {
    font-size: 88px;
    font-weight: 800;
    color: #FF0000;
}

.offer-title {
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
}

.offer-sub-title {
    font-size: 48px;
    font-weight: 600
}

.photo {
    margin-top: 48px;
}

/* welcome section styles */
.group-70 {
    display: flex;
    gap: 94px;
    text-align: left;
    /* justify-content: center; */
}

.victor {
    background-image: url(../images/Vectorrr.png);
    /* background-position: 1120px; */
    background-size: 100% 100%;
    width: 1120px;
    /* justify-content: center; */
    margin: 220px 100px 120px 100px;
}

.welcome {
    margin-top: 126px;
    margin-left: 50px;
}

.welcome-pic {
    position: end;
    /* width: 800; */
}

.welcome-slogan {
    font-size: 52px;
    color: white;
    /* margin-top: 500px; */
}

.welcome-description {
    font-size: 18px;
    color: white;
    /* margin-top: 200px; */
}

.btn-join {
    font-size: 20px;
    color: black;
    border: none;
}

/* place section styles */
.place {
    font-size: 32;
    font-weight: 600;
    /* text-align: center; */
    /* max-width: 1020px; */
    /* justify-content: center; */
    /* margin-top: 100px; */
    /* align-items: center; */
    /* margin: 220px 0px 20px 450px; */
    padding: 100px 385px 214px 400px;

}

.btn-primary {
    background-color: #FF0000;
    color: #FFF8F3;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 6px;
}

/* comming soon section starts  */
.comming-soon {
    display: flex;
    max-width: 1120px;
    min-height: 450px;
    margin: 120px 140px 120px 140px;
    align-items: center;
    gap: 80px;
}

.clm-title {
    font-size: 20px;
    font-weight: 600;
    color: #FF0000;
}

.clm-sub-title {
    font-size: 38px;
    font-weight: 800;
    color: #070211;
}

.clm-description {
    font-size: 16px;
    font-weight: 400;
    color: #070211;
    opacity: 60%;
}

.clmn-title {
    font-size: 38px;
    font-weight: 800;
    color: #FF0000;
}

.column-two {
    /* max-width: 363px;
    max-height: 363px; */
    border: 10px solid #FF0000;
    border-width: 5px;
    border-radius: 50px;
    /* border-style: circle(50%); */
    padding: 5px;
    shape-margin: ;
}

.clmn-icon {
    margin-top: 40px;
}